<!--Inicio nav-->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Generación de Claves</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Generación de Sombras</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Cifrado</button>
    </li>
  </ul>
<!--End nav-->
<!--Incio contenido-->
  <div class="tab-content" id="myTabContent">
    <!--Inicio Generación de Claves-->
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <div class="container overflow-hidden text-center">
        <div class="row gy-5">
            <!--c cuadro números ZP-->
            <div class="col-6">
              <div class="p-3">
                <h4>Elegir secreto (Zp)</h4>
                <div class="d-flex flex-wrap" style="background-color: white; border: 2.5px solid #2c4a52; color: #8e9b97; font-family: 'calibri'; font-size: 24px; height: 300px; margin: 0px 75px 0px 75px; overflow: auto; padding: 10px; text-align: left; white-space:break-spaces;">Números Zp
                    <div *ngFor="let numero of this.array, let i = index" role="button">
                      <span (click)="set_c(numero)">{{ numero+", " }}</span>
                    </div>
                </div>
              </div>
            </div>
            <!--end c-->
            <div class="col-6">
              <div class="p-3">
                <h4>SS esquema umbral (k=3, n=5)</h4> <br>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label for="">[C]</label>
                            <input type="text" placeholder="número seleccionado" id="c" [value]="this.valor_c">
                        </div>
                        <div class="col">
                          <button class="btn btn-dark" (click)="cargar()">CARGAR</button>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label for="">Enmascarado 1</label>
                            <input type="text" placeholder="aqui va e1" [value]="this.numero_1">
                            <p id="e1"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="">Enmascarado 2</label>
                            <input type="text" placeholder="aqui va e2" [value]="this.numero_2">
                            <p id="e2"></p>
                        </div>
                    </div>
                </div>
                <div class="row"><div class="col">
                  <button class="btn btn-dark" (click)="guardarArchivoDeTexto()">DESCARGAR [C]</button>
                </div>
                 <br><br><hr>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-dark" (click)="generarHash()">GENERAR CLAVES</button>
                        </div>
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="this.cargar_claves" (click)="toggle_check()">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Cargar claves</label>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        </div>
        <!--<div class="row gy-5">
            <div class="col-6">
                <div class="p-3">
                    <label for="" class="mr-2">CLAVE 1</label>
                    <input type="text" placeholder="aqui va clave 1" [value]="this.hash_1">
                </div>
              </div>

            <div class="col-6">
                <div class="p-3">
                    <label for="">CLAVE 2</label>
                    <input type="text" placeholder="aqui va clave 2" [value]="this.hash_2">
                </div>
              </div>

        </div> -->
        <div class="row gy-5">
          <label for="">CLAVE 1</label>
          <input type="text" placeholder="aqui va clave 1" [value]="this.hash_1">
        </div>
        <div class="row gy-5">
                  <label for="">CLAVE 2</label>
                  <input type="text" placeholder="aqui va clave 2" [value]="this.hash_2">
        </div>
        <div class="row gy-5">
            <h4>Favor utilizar claves para proteger archivo</h4>
        </div>
      </div>
    </div>
    <!--fin Generación de Claves-->
    <!--Inicio Generación de Sombras-->
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <!--figuras-->
      <div class="container overflow-hidden text-center">
        <div class="row align-items-end">
          <div class="col">
            <img src="https://media.discordapp.net/attachments/941137936093675593/1128343423737405440/image.png?width=200&height=200"  alt="triangulo">
            <input type="text" placeholder="polinomio" [value]="polinomio(1)">
            <div><label for="">[]^k</label></div>
            <input type="text" placeholder="polinomio^K" [value]="polinomio_elevado(1)">
          </div>
          <div class="col">
            <img src="https://media.discordapp.net/attachments/941137936093675593/1128343506725904524/image.png?width=200&height=200" alt="cuadrado">
            <input type="text" placeholder="polinomio" [value]="polinomio(2)">
            <div><label for="">[]^k</label></div>
            <input type="text" placeholder="polinomio^K" [value]="polinomio_elevado(2)">
          </div>
          <div class="col">
            <img src="https://media.discordapp.net/attachments/941137936093675593/1128343767829725285/image.png?width=200&height=200" alt="circulo">
            <input type="text" placeholder="polinomio" [value]="polinomio(3)">
            <div><label for="">[]^k</label></div>
            <input type="text" placeholder="polinomio^K" [value]="polinomio_elevado(3)">
          </div>
          <div class="col">
            <img src="https://media.discordapp.net/attachments/941137936093675593/1128343848674930819/image.png?width=200&height=200" alt="hexagono">
            <input type="text" placeholder="polinomio" [value]="polinomio(4)">
            <div><label for="">[]^k</label></div>
            <input type="text" placeholder="polinomio^K" [value]="polinomio_elevado(4)">
          </div>
          <div class="col">
            <img src="https://media.discordapp.net/attachments/941137936093675593/1128343921110564894/image.png?width=200&height=200" alt="cilindro">
            <input type="text" placeholder="polinomio" [value]="polinomio(5)">
            <div><label for="">[]^k</label></div>
            <input type="text" placeholder="polinomio^K" [value]="polinomio_elevado(4)">
          </div>
        </div>
      </div>
      <!--end figuras-->
      <!--botones-->
      <div class="container text-center">
        <div class="row gy-5">
          <div class="col-6">
              <div class="p-3">
                  <button class="btn btn-dark" (click)="toggle_numeros()">PUBLICAR</button>
              </div>
          </div>

          <div class="col-6">
              <div class="p-3">
                  <button class="btn btn-dark" (click)="guardarSimbolosTexto()">IMPRIMIR</button>
              </div>
          </div>
        </div>
      </div>
      <!--End botones-->
    </div>
    <!--fin Generación de Sombras-->
    <!--Inicio Cifrado-->
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
      <div class="container overflow-hidden text-center">
        <div class="row gy-5">
          <h4>Cifrado y protección de archivo</h4>
        </div>
        <div class="row gy-5">
          <div class="col-6">
            <div class="p-3">
              <h4>Mensaje</h4>
              <input #texto_sin type="text" placeholder="Aquí puede escribir su mensaje" style="background-color: white; border: 2.5px solid #2c4a52; color: #8e9b97; font-family: 'calibri'; font-size: 24px; width: 120%; height: 100px; margin: 0px 75px 0px 75px; overflow: auto; padding: 10px; text-align: left; white-space:nowrap;">
            </div>
          </div>
          <div class="col-6 d-flex align-items-end justify-content-end">
            <div class="p-3">
              <button class="btn btn-dark" (click)="cifrar()">CIFRAR</button>
            </div>
          </div>
        </div>
        <div class="row gy-5">
          <div class="col-6">
            <div class="p-3">
              <h4>Mensaje cifrado</h4>
              <input type="text" [value]="this.mensaje_cifrado" style="background-color: white; border: 2.5px solid #2c4a52; color: #8e9b97; font-family: 'calibri'; font-size: 24px; width: 120%; height: 100px; margin: 0px 75px 0px 75px; overflow: auto; padding: 10px; text-align: left; white-space:nowrap;" placeholder="Mensaje cifrado">
            </div>
          </div>
          <div class="col-6 d-flex align-items-end justify-content-end">
            <div class="p-3">
              <button class="btn btn-dark" (click)="guardarMensajeCifrado()">EXPORTAR</button>
            </div>
          </div>
        </div>
        <div class="row gy-5">
          <h4>Favor utilizar claves para proteger archivo</h4>
        </div>
      </div>
    </div>
    <!--fin Cifrado-->
