<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Recuperación de Claves</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Descifrado</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <!--Recuperación de Claves-->
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <div >
        <!--figuras-->
        <div class="container overflow-hidden text-center">
          <div class="row align-items-end">
            <div class="col">
              <img src="https://media.discordapp.net/attachments/941137936093675593/1128343423737405440/image.png?width=200&height=200"  alt="triangulo">
              <div><label for="">[]^k</label></div>
              <input #triangulo type="text" placeholder="polinomio" value="270840023" >
            </div>
            <div class="col">
              <img src="https://media.discordapp.net/attachments/941137936093675593/1128343506725904524/image.png?width=200&height=200" alt="cuadrado">
              <div><label for="">[]^k</label></div>
              <input #cuadrado type="text" placeholder="polinomio" value="2379270375">
            </div>
            <div class="col">
              <img src="https://media.discordapp.net/attachments/941137936093675593/1128343767829725285/image.png?width=200&height=200" alt="circulo">
              <div><label for="">[]^k</label></div>
              <input #circulo type="text" placeholder="polinomio" value="12503322161">
            </div>
            <div class="col">
              <img src="https://media.discordapp.net/attachments/941137936093675593/1128343848674930819/image.png?width=200&height=200" alt="hexagono">
              <div><label for="">[]^k</label></div>
              <input #hexagono type="text" placeholder="polinomio">
            </div>
            <div class="col">
              <img src="https://media.discordapp.net/attachments/941137936093675593/1128343921110564894/image.png?width=200&height=200" alt="cilindro">
              <div><label for="">[]^k</label></div>
              <input #cilindro type="text" placeholder="polinomio">
            </div>
          </div>
        </div> <hr>
        <!--end figuras-->
        <!--boton recuperar c-->
        <div class="container text-center">
          <div class="row gy-5">
            <div class="col-6">
                <div class="p-3">
                    <button class="btn btn-dark" (click)="recuperar_secreto()">Recuperar Secreto [C]</button>
                </div>
            </div>
            <div class="col-6">
              <div class="p-3">
                <label for="">aqui se recupera c</label><br>
                  <input type="text" placeholder="aqui se recupera c" [value]="this.valor_c">
              </div>
            </div>
          </div>
        </div>
        <!--end boton recuperar c-->
        <!--boton recuperar claves-->
        <div class="container text-center">
          <div class="row gy-5">
            <div class="col">
                <div class="p-3">
                    <button class="btn btn-dark" (click)="recuperar_claves()">Recuperar claves de acceso</button>
                </div>
            </div>
          </div>
          <div class="row gy-5">
            <div><label for="">Clave 1 [SHA(2)-256]</label></div>
            <input type="text" [value]="this.hash_1">
          </div>
          <div class="row gy-5">
            <div><label for="">Clave 2 [SHA(2)-256]</label></div>
            <input type="text" [value]="this.hash_2">
          </div> <br>
          <div class="row gy-5">
            <h4>Nota:favor utilizar claves para apertura del archivo.</h4>
          </div>
        </div>
        <!--end boton recuperar claves-->
      </div>
    </div>
    <!--Fin Recuperación de Claves-->
    <!--Descifrado-->
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...
      <div class="container overflow-hidden text-center">
        <div class="row gy-5">
          <h4>Decifrado del mensaje</h4>
        </div>
        <div class="row gy-5">
          <div class="col-6">
            <div class="p-3">
              <h4>Mensaje cifrado</h4>
              <input #texto_sin type="text" placeholder="Aquí puede escribir su mensaje cifrado" style="background-color: white; border: 2.5px solid #2c4a52; color: #8e9b97; font-family: 'calibri'; font-size: 24px; width: 120%; height: 100px; margin: 0px 75px 0px 75px; overflow: auto; padding: 10px; text-align: left; white-space:nowrap;">
            </div>
          </div>
          <div class="col-6 d-flex align-items-end justify-content-end">
            <div class="p-3">
              <button class="btn btn-dark">DECIFRAR</button>
            </div>
          </div>
        </div>
        <div class="row gy-5">
          <div class="col-6">
            <div class="p-3">
              <h4>Mensaje Original</h4>
              <input type="text"  style="background-color: white; border: 2.5px solid #2c4a52; color: #8e9b97; font-family: 'calibri'; font-size: 24px; width: 120%; height: 100px; margin: 0px 75px 0px 75px; overflow: auto; padding: 10px; text-align: left; white-space:nowrap;" placeholder="Mensaje original">
            </div>
          </div>
          <div class="col-6 d-flex align-items-end justify-content-end">
            <div class="p-3">
              <button class="btn btn-dark ">EXPORTAR</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--fin Descifrado-->
    <!---->
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...
      <object data="assets/manual.pdf" type="application/pdf" width="100%" height="500px">
        <p>Unable to display PDF file. <a href="manual.pdf">Download</a> instead.</p>
      </object>
    </div>
    <!---->
  </div>
